@tailwind base;
@tailwind components;
@tailwind utilities;

.font-geist {
  font-family: var(--font-geist-sans);
}
.font-geistMono {
  font-family: var(--font-geist-mono);
}
.font-abyssinica {
  font-family: var(--font-abyssinica-sil);
}
