@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

body {
  overflow: hidden;
  transition: color 0.9s;
}

.font-geist {
  font-family: var(--font-geist-sans);
}
.font-geistMono {
  font-family: var(--font-geist-mono);
}
.font-abyssinica {
  font-family: var(--font-abyssinica-sil);
}
